body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
   }
   
   h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
   }
body {
  overflow-x: hidden; 
  background: linear-gradient(to right, #C6EA8D, #FE90AF);
}
#topmost-div{
  background: linear-gradient(to right, #C6EA8D, #FE90AF, white);
}
.fa{
	font-size: 150%;
}
a, a:hover{
	text-decoration: none;
	color: white;
}
.navbar-brand{
	font-size: 200%;
	padding-top:0px;
	padding-bottom: 0px;
}
.nav-item{
	margin-left: 15px;
	width:120px;
	font-weight: bold;
}
.nav-link{
	font-weight: bold;
	color:white !important;
}

.nav-link.active{
	text-align: center;
	padding-left:auto;
	background-color: red;

}
.nav-link:hover{
	background: white;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	width:120px;
	font-size: 110%;
	color:red !important;
	text-align: center;
	font-weight: bold;
}
/* .button-fluid{
	width:100%;
	margin-left:-20px;
	margin-right:-200px;
	background: transparent;
	outline: none !important;
	outline-style: none !important;
	box-shadow: none !important;
	border:none;
} */
#myCarousel .carousel-item{
	margin-top: 5px;
	height: 70vh;
}


.carousel-image-1 {
  background: url("../images/tomatoes.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../images/watermelon2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../images/feed1.jpg");
  background-size: cover; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

#vision-mission-div{
	text-align: justify;
	/* background: linear-gradient(to right, #C6EA8D, #FE90AF) */
	background: transparent;
	color: #fff;
}
.core-values{
	list-style: none;
	/* font-size: 16px; */
	font-weight: normal;
	padding-left: 0px;
}
.core-values-li{
	margin:10px auto 5px 0px;

}

.gbogbo{
	display: block;
}
.product-image{
	margin-right: auto;
	margin-left: auto;
	border-radius: 0%;
	margin-top: 10px;
	border-radius: 10%;
}
#joinus-section{
	height:100vh;
}

.footnote{
	bottom:0;
	color:white;
	width: 100%;
	left: 0;
	right:0;
	text-align: center;
	z-index: 2;
}

.footer-div{
	/* font-family:arial; */
	box-shadow: 1px 1px 4px 2px #fff;
	/* box-sizing: border-box; */
	justify-content: center !important;
	align-items: center !important;
	padding-bottom: 30px;
	margin: 20px;
}
[placeholder]{
	font-style: oblique;
	opacity: 0.7;
}
#about{
	text-align: justify;
	color: #fff;
}
.box{
	box-shadow: 1px 1px 2px 2px #fff;
}

@media (min-width: 760px){	
	.gbogbo{
		display: flex;
	}
	.footer-div{
		padding-top:10px;
		}
	#vision-mission-div{
		box-shadow: 1px 1px 2px 2px #fff;	
	}
	.mision-container, .values-container{
		border-left:2px solid;
	}
	.about-side-2{
		font-size: 180%;
	}
}
.about-side-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 120%;
	text-align: center;
}

.our-model{
	margin-bottom:30px;
	text-transform: uppercase;
	font-size: 150%;
}
.line-v{
	height:30px;
	border-left: 2px solid #fff;
	margin-left: 50%;
}
.line-h{
	width:30px;
	border-top: 2px solid #fff;
	margin-top: 15px;
	margin-left: 10px;
	margin-right:10px;
}
.for-partners-consultants{
	display: flex;
}

.model-structure{
    animation: myframes 1s ease-in-out 0s infinite alternate forwards running;
}
@keyframes myframes{
    from{ 
        transform: translate(-10px)
    }
    to{
        transform: translate(30px)
    }
}