#myImage {
  width: 250px;
  height: auto;
}

.flex-row{
  flex-wrap: wrap;
}

.flex-item:hover{
  color: red;
}

.flex-item.bg-primary:hover {
  color: white;
}

.flex-item.bg-success:hover {
  color: yellow;
}

.active{
  background-color: red;
}

.col-3{
  background-color: red;
}

@media (min-width: 500px) {

}
